---
http_interactions:
- request:
    method: get
    uri: https://bible-api.com/Romans+8:28-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"reference":"Romans 8:28-30","verses":[{"book_id":"ROM","book_name":"Romans","chapter":8,"verse":28,"text":"We
        know that all things work together for good for those who love God, to those
        who are called according to his purpose.\n"},{"book_id":"ROM","book_name":"Romans","chapter":8,"verse":29,"text":"For
        whom he foreknew, he also predestined to be conformed to the image of his
        Son, that he might be the firstborn among many brothers.\n"},{"book_id":"ROM","book_name":"Romans","chapter":8,"verse":30,"text":"Whom
        he predestined, those he also called. Whom he called, those he also justified.
        Whom he justified, those he also glorified.\n"}],"text":"We know that all
        things work together for good for those who love God, to those who are called
        according to his purpose.\nFor whom he foreknew, he also predestined to be
        conformed to the image of his Son, that he might be the firstborn among many
        brothers.\nWhom he predestined, those he also called. Whom he called, those
        he also justified. Whom he justified, those he also glorified.\n","translation_id":"web","translation_name":"World
        English Bible","translation_note":"Public Domain"}'
  recorded_at: Wed, 18 Feb 2026 11:47:20 GMT
recorded_with: VCR 6.4.0
