---
http_interactions:
- request:
    method: get
    uri: https://bible-api.com/Psalm+23:1-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"reference":"Psalms 23:1-2","verses":[{"book_id":"PSA","book_name":"Psalms","chapter":23,"verse":1,"text":"Yahweh
        is my shepherd:\nI shall lack nothing.\n"},{"book_id":"PSA","book_name":"Psalms","chapter":23,"verse":2,"text":"He
        makes me lie down in green pastures.\nHe leads me beside still waters.\n"}],"text":"Yahweh
        is my shepherd:\nI shall lack nothing.\nHe makes me lie down in green pastures.\nHe
        leads me beside still waters.\n","translation_id":"web","translation_name":"World
        English Bible","translation_note":"Public Domain"}'
  recorded_at: Wed, 18 Feb 2026 11:47:18 GMT
recorded_with: VCR 6.4.0
