---
http_interactions:
- request:
    method: get
    uri: https://bible-api.com/John+3:16?translation=kjv
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"reference":"John 3:16","verses":[{"book_id":"JHN","book_name":"John","chapter":3,"verse":16,"text":"          For
        God so loved the world, that he gave his only begotten Son, that whosoever
        believeth in him should not perish, but have everlasting life.\n"}],"text":"          For
        God so loved the world, that he gave his only begotten Son, that whosoever
        believeth in him should not perish, but have everlasting life.\n","translation_id":"kjv","translation_name":"King
        James Version","translation_note":"Public Domain"}'
  recorded_at: Wed, 18 Feb 2026 11:47:19 GMT
recorded_with: VCR 6.4.0
