---
http_interactions:
- request:
    method: get
    uri: https://bolls.life/get-verse/KJV/19/23/1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - uk
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pk": 2614406, "verse": 1, "text": "A Psalm<S>4210</S> of David<S>1732</S>.
        The LORD<S>3068</S> is my shepherd<S>7462</S>; I shall not want<S>2637</S>."}'
  recorded_at: Wed, 18 Feb 2026 11:47:26 GMT
- request:
    method: get
    uri: https://bolls.life/get-verse/KJV/19/23/2/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - uk
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"pk": 2614407, "verse": 2, "text": "He maketh me to lie down<S>7257</S>
        in green<S>1877</S> pastures<S>4999</S>: he leadeth<S>5095</S> me beside the
        still<S>4496</S> waters<S>4325</S>. <sup>green: Heb. pastures of tender grass</sup>
        <sup>still: Heb. waters of quietness</sup>"}'
  recorded_at: Wed, 18 Feb 2026 11:47:27 GMT
recorded_with: VCR 6.4.0
