---
http_interactions:
- request:
    method: get
    uri: https://api.esv.org/v3/passage/text/?include-first-verse-numbers=false&include-footnotes=false&include-headings=false&include-passage-references=false&include-short-copyright=false&include-verse-numbers=false&indent-declares=0&indent-paragraphs=0&indent-poetry=false&indent-psalm-doxology=0&q=Genesis%201:1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <ESV_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96d901e39ec2695f64f04b39e0a87dad"
    body:
      encoding: ASCII-8BIT
      string: '{"query": "Genesis 1:1", "canonical": "Genesis 1:1", "parsed": [[1001001,
        1001001]], "passage_meta": [{"canonical": "Genesis 1:1", "chapter_start":
        [1001001, 1001031], "chapter_end": [1001001, 1001031], "prev_verse": null,
        "next_verse": 1001002, "prev_chapter": null, "next_chapter": [1002001, 1002025]}],
        "passages": ["In the beginning, God created the heavens and the earth.\n\n"]}'
  recorded_at: Wed, 18 Feb 2026 11:47:24 GMT
recorded_with: VCR 6.4.0
