---
http_interactions:
- request:
    method: get
    uri: https://api.esv.org/v3/passage/text/?include-first-verse-numbers=false&include-footnotes=false&include-headings=false&include-passage-references=false&include-short-copyright=false&include-verse-numbers=false&indent-declares=0&indent-paragraphs=0&indent-poetry=false&indent-psalm-doxology=0&q=Psalm%20117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token <ESV_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e761a0c5bd3eb57e93d70cd68f762a9"
    body:
      encoding: ASCII-8BIT
      string: '{"query": "Psalm 117", "canonical": "Psalm 117", "parsed": [[19117001,
        19117002]], "passage_meta": [{"canonical": "Psalm 117", "chapter_start": [19117001,
        19117002], "chapter_end": [19117001, 19117002], "prev_verse": 19116019, "next_verse":
        19118001, "prev_chapter": [19116001, 19116019], "next_chapter": [19118001,
        19118029]}], "passages": ["Praise the LORD, all nations!\nExtol him, all peoples!\nFor
        great is his steadfast love toward us,\nand the faithfulness of the LORD endures
        forever.\nPraise the LORD!\n\n\n"]}'
  recorded_at: Wed, 18 Feb 2026 11:47:26 GMT
recorded_with: VCR 6.4.0
